.welcome-card img {
  max-height: 35vh;
  overflow: hidden;
}

.cmtredcolor{
  text-transform: uppercase;
  font-weight: 600;
  text-align: center;
  color: #822320;
}


.green{
  color: green;
}

.orange{
  color: orange;
}

.red{
  color: red;
}

.projectFooter{
  box-shadow: -0.3em 0 0.6em #1e2023b0;
}

.input-native{
  background-color: #822320;
}

.editBtn{
  float: right;
}

ion-button{
  color: #282828;
  text-transform: uppercase;
}